<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Settings</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container mt-4">
      <div class="card shadow">
        <div class="card-header bg-info">Business Settings</div>

        <div class="card-body">
          <form
            th:action="@{/settings/save}"
            th:object="${settings}"
            method="post"
          >
            <div class="mb-3">
              <label>Business Name</label>

              <input
                type="text"
                class="form-control"
                th:field="*{businessName}"
              />
            </div>

            <div class="mb-3">
              <label>Owner Name</label>

              <input type="text" class="form-control" th:field="*{ownerName}" />
            </div>

            <div class="mb-3">
              <label>Mobile</label>

              <input type="text" class="form-control" th:field="*{mobile}" />
            </div>

            <div class="mb-3">
              <label>Address</label>

              <textarea class="form-control" th:field="*{address}"> </textarea>
            </div>

            <button class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
